.add-registration-container {
  background: #fff;
  max-width: 100%;

  .page-layout {
    .page-header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border: 1px solid #d2d2d2;

      .page-title {
        font-weight: 500;
        color: #e20074;
        padding: 8px 0;
        font-size: 16px;

        .action-icon {
          vertical-align: middle;
        }
      }

      .page-action {
        .action-button {
          background: #e20074;
          display: unset;
          margin: 0;
          padding: 0;
          min-width: 40px;
          height: 35px;

          .action-icon {
            font-size: 20px;
            font-weight: bold;
            margin: 0;
          }
        }
      }
    }

    .panel-divider {
      border-top-color: #eee;
      border-top-width: 10px;
    }

    .page-content {
      padding: 15px;
      border: 1px solid #d2d2d2;

      .form-outline {
        .control-label {
          font-weight: 500;
          color: #e20074;

          .required-field {
            color: red;
          }
        }

        .error-msg {
          color: red;
          position: relative;
          top: 5px;
          left: 13px;
        }

        .control-input {
          font-size: 14px;
          height: 40px;
        }

        .control-input:focus {
          box-shadow: none;
          border: 1.5px solid #e20074;
        }
      }

      .form-check {
        position: relative;
        top: 30px;
      }

      .action-panel {
        text-align: center;

        .action-button {
          background: #e20074;
          border: none;
        }
      }
    }
  }
}